<a href='/?q=color%20picker%20%23{{hex_code}}' class='colorcodesbox circle' style='background:#{{hex_code}}'/>
<div class='column1 tx-clr--dk2'>
    <p class='hex tx-clr--dk zci__caption'>{{hexc}}</p>
    <p class='no_vspace'>{{rgb}}</p>
    <p class='no_vspace'>{{hslc}}</p>
    <p class='no_vspace'>{{cmyb}}</p>
    <p>
        <a href='http://labs.tineye.com/multicolr/#colors={{hex_code}};weights=100;' class='tx-clr--dk2'>Images</a>
          <span class='separator'> | </span>
        <a href='http://www.color-hex.com/color/{{hex_code}}' title='Tints, information and similar colors on color-hex.com' class='tx-clr--dk2'>Info</a>
          <span class='separator'> | </span>
        <a href='/?q=color%20picker%20%23{{hex_code}}' class='tx-clr--dk2'>Picker</a>
    </p>
</div>
{{#if show_column_2}}
<div class='column2 tx-clr--dk2'>
    <div class='complementary'>
        <div class='cols_column'>
              <a href='/?q=color%20picker%20%23{{complementary}}' class='mini-color circle' style='background: #{{complementary}}'>
              </a>
        </div>
        <div class='desc_column'>
            <p class='no_vspace'>Complementary #:</p><p class='no_vspace'>
                <a onclick='document.x.q.value="#{{complementary}}";document.x.q.focus();' href='javascript:' class='tx-clr--lt'>{{complementary}}</a>
            </p>
        </div>
    
    </div>
    <div>
        <div class='cols_column'>
            {{#each analogous}}
                <a href='/?q=color%20picker%20%23{{analogous}}' class='mini-color circle' style='background: #{{this}}'> </a>
            {{/each}}
        </div>
        <div class='desc_column'>
            <p class='no_vspace'>Analogous #:</p>
            <p class='no_vspace'>
                {{#each analogous}}           
                    <a onclick='document.x.q.value=#{{this}} document.x.q.focus();' href='javascript:' class='tx-clr--lt'>{{this}}</a>            
                {{/each}}
            </p>
        </div>
    </div>
</div>
{{/if}}