<div class="ascii_table--table_container">
    <table class="ascii_table--table">
        <tr class="ascii_table--table_row ascii_table--table_header">
            <th>Dec</th>
            <th>Hex</th>
            <th>Oct</th>
            <th>Html</th>
            <th>Char</th>
        </tr>
        {{#each ascii}}
            <tr class="ascii_table--table_row ascii_table--table_value">
                <td title="Dec">{{ Dec }}</td>
                <td title="Hex">{{ Hex }}</td>
                <td title="Oct">{{ Oct }}</td>
                <td title="Html">{{ Html }}</td>
                <td title="Char">{{ Char }}</td>
            </tr>
        {{/each}}
    </table>
</div>