<div class="countdown_container ninety--screen-m whole--screen-s">
    {{#if year}}
    <span class="time-unit">
        <div class="tx-clr--grey unit">Years</div>
        <div class="tx--36 tx-clr--slate number years">{{year}}</div>
    </span>
    {{/if}}
    {{#if month}}
    <span class="time-unit">
        <div class="tx-clr--grey unit">Months</div>
        <div class="tx-clr--slate number months">{{month}}</div>
    </span>
    {{/if}}
    <span class="time-unit">
        <div class="tx-clr--grey unit">Days</div>
        <div class="tx-clr--slate number days">{{day}}</div>
    </span>
    <span class="time-unit">
        <div class="tx-clr--grey unit">Hours</div>
        <div class="tx-clr--slate number hours">{{hour}}</div>
    </span>
    <span class="time-unit">
        <div class="tx-clr--grey unit">Minutes</div>
        <div class="tx-clr--slate number minutes">{{minute}}</div>
    </span>
    <span class="time-unit">
        <div class="tx-clr--grey unit">Seconds</div>
        <div class="tx-clr--slate number seconds">{{second}}</div>
    </span>
</div>