<div class="note">{{note_type}}</div>
<div class="image_wrap">
    {{{image}}}
</div>

<p class="zci__caption">{{milliseconds}}ms</p>
<div class="seperator"></div>
<div class="variation">
    <span class="pull-left">Triplet</span>
    <span class="pull-right">{{triplet}}</span>
</div>
<div class="variation">
    <span class="pull-left">Dotted</span>
    <span class="pull-right">{{dotted}}</span>
</div>