<div class='suninfo--header text--secondary'>
    <span class='ddgsi'>@</span>{{where}} on {{when}}
</div>
<div class='suninfo--row'>
    <span class='suninfo--risebox'>{{sunrise_svg}}</span>
    <span class='suninfo--timeboxes suninfo--border-right'>
        <span class='text--primary suninfo--times'>{{rise}}</span>
    </span>
    <span class='suninfo--setbox'>{{sunset_svg}}</span>
    <span class='suninfo--timeboxes'>
        <span class='text--primary suninfo--times'>{{set}}</span>
    </span>
</div>
