<div class='c-base__sub text--secondary'>
    <span class='ddgsi'>@</span>{{where}} on {{when_data}}
</div>
<div class='c-base__sub'>
    <span class='suninfo--risebox'>
        <img src='{{sunrise_svg}}' width='48' height='48'/>
    </span>
    <span class='suninfo--timeboxes suninfo--border-right'>
        <span class='suninfo--times text--primary'>{{rise}}</span>
    </span>
    <span class='suninfo--setbox'>
        <img src='{{sunset_svg}}' width='48' height='48'/>
    </span>
    <span class='suninfo--timeboxes'>
        <span class='text--primary suninfo--times'>{{set_data}}</span>
    </span>
</div>
