<h3 class="c-base__title">{{name}}</h3>
<h4 class="c-base__sub">{{description}}</h4>

<div class="cheatsheet__container compressed">
    {{#cheatsheets_ordered sections section_order}}
    <div class="cheatsheet__section {{#if showhide}} showhide is-hidden {{/if}}">
        <span class="whole">
            <h6 class="cheatsheet__title">{{name}}</h6>
        </span>
        <table class="whole">
            <tbody class="whole">
                {{#each items}}
                <tr class="whole">
                    <td class="forty forty--screen-s cheatsheet__key">
                        <span class="cheatsheet__data">{{cheatsheets_codeblock key}}</span>
                    </td>
                    <td class="sixty sixty--screen-s cheatsheet__value">
                        <span class="cheatsheet__data tx-clr--slate-light ">{{val}}</span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/cheatsheets_ordered}}
    <div class="clearfix"></div>
</div>

<div class="cheatsheet__footer">
    <hr>
    <a class="c-text__link  c-text__link--chomp  chomp--link sep--after can-expand">
        <i class="chomp--link__icn"></i>
        <span class="chomp--link__mr">Show More</span>
        <span class="chomp--link__ls">Show Less</span>
    </a>
    <span class="pull-right">{{{moreAt metadata 'none' className="c-base__link"}}}</span>
</div>