<h3 class="c-base__title">{{name}}</h3>
<h4 class="c-base__sub">{{description}}</h4>

<div class="gw cheatsheet__container compressed">

    {{#cheatsheets_ordered sections section_order}}
    <table class="g half cheatsheet__section">
        <thead class="whole">
            <tr class="whole">
                <th class="whole">
                    <h6 class="cheatsheet__title">{{name}}</h6>
                </th>
            </tr>
        </thead>
        <tbody class="whole">
            {{#each items}}
            <tr class="gw whole">
                <td class="g forty forty--screen-s cheatsheet__key">
                    <span class="cheatsheet__data">{{cheatsheets_codeblock key}}</span>
                </td>
                <td class="g sixty sixty--screen-s cheatsheet__value">
                    <span class="cheatsheet__data tx-clr--slate-light ">{{val}}</span>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/cheatsheets_ordered}}
</div>

<div class="cheatsheet__footer">
    <hr>
    <a class="c-text__link  c-text__link--chomp  chomp--link sep--after can-expand">
        <i class="chomp--link__icn"></i>
        <span class="chomp--link__mr">Show More</span>
        <span class="chomp--link__ls">Show Less</span>
    </a>
    <span class="pull-right">{{{moreAt meta 'none' className="c-base__link"}}}</span>
</div>