<div class='zci__conversions-controls'>
	<div class='zci__conversions_left'>
		<input name='zci__conversions-left-in' id='zci__conversions-left-in' type='number' value='{{value_in}}' />
		<input name='zci__conversions-left-unit' id='zci__conversions-left-unit' type='text' value= '{{unit_from}}' />
<!--
		<select name='zci__conversions-left-unit'>
			<option value='{{unit_from}}'>{{unit_from}}</option>
		</select>
-->
	</div>
	<div class='zci__conversions_equals'> = </div>
	<div class='zci__conversions_right'>
		<input name='zci__conversions-right-in' id='zci__conversions-right-in' type='number' value='{{value_out}}' readonly />
		<input name='zci__conversions-right-unit' id='zci__conversions-right-unit' type='text' value= '{{unit_to}}' readonly  />
<!--
		<select name='zci__conversions-right-unit'>
			<option value='{{unit_to}}'>{{unit_to}}</option>
		</select>
-->
	</div>

	<div class='zci__conversions_physical_quantity'>
		<div>Physical Quantity</div>
		<select name='conversions-physical-quantity'>
			<option name='mass'>Mass</option>
			<option name='length'>Length</option>
			<option name='area'>Area</option>
			<option name='volume'>Volume</option>
			<option name='duration'>Duration</option>
			<option name='pressure'>Pressure</option>
			<option name='energy'>Energy</option>
			<option name='power'>Power</option>
			<option name='angle'>Angle</option>
			<option name='force'>Force</option>
			<option name='temperature'>Temperature</option>
			<option name='digital'>Digital</option>
		</select>
	</div>
</div>