<div class='zci__conversions-controls'>
	<div class='zci__conversions_left'>
		<input name='conversions-left-in' type='number' value='{{value_in}}' />
		<select name='conversions-left-unit'>
			<option value='{{unit_from}}'>{{unit_from}}</option>
		</select>
	</div>
	<div class='zci__conversions_equals'> = </div>
	<div class='zci__conversions_right'>
		<input name='conversions-right-in' type='number' value='{{value_out}}' />
		<select name='conversions-right-unit'>
			<option value='{{unit_to}}'>{{unit_to}}</option>
		</select>
	</div>
	<div class='zci__conversions_physical_quantity'>
		<select name='conversions-physical-quantity'>
			<option value='length'>Length</option>
			<option value='information'>Information</option>
		</select>
	</div>
</div>