<a href='/?q=color%20picker%20%23{{result_color.hex}}' class='rgb_color--box circle' style='background:#{{result_color.hex}}'/>
<div class='column1 tx-clr--dk2'>
    <p class='hex tx-clr--dk zci__caption'>{{result_color.hex_disp}}</p>
    <p class='no_vspace'>{{result_color.rgb_disp}}</p>
    <p class='no_vspace'>{{result_color.hslc_disp}}</p>
    <p class='no_vspace'>{{result_color.cmyb_disp}}</p>
    <p>
        <a href='http://labs.tineye.com/multicolr/#colors={{result_color.hex}};weights=100;' class='tx-clr--dk2'>Images</a>
          <span class='separator'> | </span>
        <a href='http://www.color-hex.com/color/{{result_color.hex}}' title='Tints, information and similar colors on color-hex.com' class='tx-clr--dk2'>Info</a>
          <span class='separator'> | </span>
        <a href='/?q=color%20picker%20%23{{result_color.hex}}' class='tx-clr--dk2'>Picker</a>
    </p>
</div>
<div class='column2 tx-clr--dk2'>
    <div>
        <div class='cols_column'>
            {{#each input_colors}}
                <a href='/?q=color%20picker%20%23{{this.hex}}' class='mini-color circle' style='background: #{{this.hex}}'> </a>
            {{/each}}
        </div>
        <div class='desc_column'>
            <p class='no_vspace'>{{subtitle_prefix}}</p>
            <p class='no_vspace'>
                {{#each input_colors}}
                    <a onclick='document.x.q.value=#{{this.hex}} document.x.q.focus();' href='javascript:' class='tx-clr--lt'>{{this.hex}}</a>
                {{/each}}
            </p>
        </div>
    </div>
</div>
