<div class="zci__body">
    <div class="objects--body">
        <span class="objects--objectImage">
            {{#if saturn}}    
                <img width="45px" height="28px" src="share/goodie/solar_system/{{goodie_version}}/img/{{imageName}}@2x.png">
            {{else}}
                <img width="40px" height="40px" src="share/goodie/solar_system/{{goodie_version}}/img/{{imageName}}@2x.png">
            {{/if}}
        </span>

        <span class="objects--info">
            <span class="text--primary objects--objectAttribute">
                {{{attributes}}}
            </span>

            <span class="text--secondary objects--objectName">
                {{operation}}
            </span>
        </span>
    </div>
</div>