<div class="frm">
  <div class="frm__select">
    <select>
      {{#each headings}}
        <option>{{this}}</option>
      {{/each}}
    </select>
  </div>
</div>

<table class="record__body">
  <tbody>

    <!-- Featured Info -->
    <tr class="record__row">
      <td class="record__cell record__cell--key t-m">Calories:</td>
      <td class="record__cell record__cell--key t-m">{{calories}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key t-m">Protein:</td>
      <td class="record__cell record__cell--key t-m">{{protein}}</td>
    </tr>

    <!-- other info -->
    <tr class="record__row">
      <td class="record__cell record__cell--key blank-cell"></td>
      <td class="record__cell record__cell--key"><strong>Daily Value %</strong></td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Total Fat</td>
      <td class="record__cell record__cell--key">{{total_fat}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Cholesterol</td>
      <td class="record__cell record__cell--key">{{cholesterol}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Sodium</td>
      <td class="record__cell record__cell--key">{{sodium}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Potassium</td>
      <td class="record__cell record__cell--key">{{potassium}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Total Carbohydrate</td>
      <td class="record__cell record__cell--key">{{total_carbohydrate}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Protein</td>
      <td class="record__cell record__cell--key">{{protein}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Vitamin A</td>
      <td class="record__cell record__cell--key">{{vitamin_a}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Vitamin C</td>
      <td class="record__cell record__cell--key">{{vitamin_c}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Calcium</td>
      <td class="record__cell record__cell--key">{{calcium}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Iron</td>
      <td class="record__cell record__cell--key">{{iron}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Vitamin D</td>
      <td class="record__cell record__cell--key">{{vitamin_d}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Vitamin B-6</td>
      <td class="record__cell record__cell--key">{{vitamin_b6}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Vitamin B-12</td>
      <td class="record__cell record__cell--key">{{vitamin_b12}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Magnesium</td>
      <td class="record__cell record__cell--key">{{magnesium}}</td>
    </tr>
  </tbody>
</table>
