<div class="frm">
  <div class="frm__select">
    <select>
      {{#each headings}}
        <option>{{this}}</option>
      {{/each}}
    </select>
  </div>
</div>

<table class="record__body">
  <tbody>

    <!-- Featured Info -->
    <tr class="record__row">
      <td class="record__cell record__cell--key t-m">Calories:</td>
      <td class="record__cell record__cell--key t-m" id="j-calories">{{calories}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key t-m">Protein:</td>
      <td class="record__cell record__cell--key t-m" id="j-protein">{{protein}}</td>
    </tr>

    <!-- other info -->
    <tr class="record__row">
      <td class="record__cell record__cell--key blank-cell"></td>
      <td class="record__cell record__cell--key"><strong>Daily Value %</strong></td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Total Fat</td>
      <td class="record__cell record__cell--key" id="j-fat">{{total_fat}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Cholesterol</td>
      <td class="record__cell record__cell--key" id="j-cholesterol">{{cholesterol}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Sodium</td>
      <td class="record__cell record__cell--key" id="j-sodium">{{sodium}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Potassium</td>
      <td class="record__cell record__cell--key" id="j-potassium">{{potassium}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Total Carbohydrate</td>
      <td class="record__cell record__cell--key" id="j-carbohydrate">{{total_carbohydrate}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Vitamin A</td>
      <td class="record__cell record__cell--key" id="j-vitamin_a">{{vitamin_a}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Vitamin C</td>
      <td class="record__cell record__cell--key" id="j-vitamin_c">{{vitamin_c}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Calcium</td>
      <td class="record__cell record__cell--key" id="j-calcium">{{calcium}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Iron</td>
      <td class="record__cell record__cell--key" id="j-iron">{{iron}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Vitamin D</td>
      <td class="record__cell record__cell--key" id="j-vitamin_d">{{vitamin_d}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Vitamin B-6</td>
      <td class="record__cell record__cell--key" id="j-vitamin_b6">{{vitamin_b6}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Vitamin B-12</td>
      <td class="record__cell record__cell--key" id="j-vitamin_b12">{{vitamin_b12}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key">Magnesium</td>
      <td class="record__cell record__cell--key" id="j-magnesium">{{magnesium}}</td>
    </tr>
  </tbody>
</table>
